<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body class="container">
    <div id="createRoom" class="modal">
        <div id="modalContent">
            <span class="close" onclick="closeModal()">&times;</span>
            <label for="createRoomForm"><h1>Create Room</h1></label>
            <div id="createRoomForm">
                <label for="roomNameInput">Room Name:</label><br />
                <input type="text" name="roomNameInput" id="roomNameInput">
                <button onclick="makeRoom()" type="submit">Create Room</button>
            </div>
        </div>
    </div>

    <div id="sidebar">
        <div class = 'title-thing'>
            <p>DISFUNCTION<p>
        </div>
        <button onclick="openModal()">Create room</button>
        <a href="settings.html">
            <img src="settings.png" id="settingsButton" alt="Settings">
        </a>
    </div>
    <div id="mainBody">
        <img src="arrow.png" id="sidebarControl" onclick="sidebarTest()" alt="Open Sidebar">
        <div id="chat">
        
        </div>
        <div id="textboxDiv">
            <label for="textbox"></label>
            <input type="text" name="textbox" id="textbox">
            <button id='submit'>Send</button>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>