<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="signup-login.css">
    <title>Document</title>
</head>
<body>
    <div class = "accountBox">
        <h1 class="centered">Create Account</h1>
        <form id="login">
            <label for="emailInput">Email: </label>
            <input type="email" name="emailInput" id="emailInput">
            <br />

            <label for="usernameInput">Username: </label>
            <input type="text" name="usernameInput" id="usernameInput">
            <br />

            <label for="passwordInput">Password: </label>
            <input type="password" name="passwordInput" id="passwordInput">
            <br />

            <label for="confirmPassword">Confirm Password:</label>
            <input type="password" name="confirmPassword" id="confirmPassword">
            <br />

            <input type="submit" value="Create Account">
        </form>
        <p class="centered">Already have an account? Login <a href="login.html">here</a></p>
    </div>
</body>
</html>