body{
    background: rgb(129, 125, 111);
    color:black;
    font-family: 'Courier New', monospace;
}
.title-thing{
    background: rgb(255, 215, 69);
    color: rgb(61, 61, 61);
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    font-size:30px;
    font-weight: 550;
    height: 85px;
    width:250px;
}

div#sidebar{
    width: 25%;
    right:0;
    position: fixed;
    border-left: 1px solid white;
    height: 100%;
    transition: 0.5s;
}

div#mainBody{
    margin-right: 25%;
    transition: 0.5s;
}

div#textboxDiv{
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0px;
    height: 75px;
    border-top: 1px solid white;
    padding: 15px;
}
#textbox{
    width: 90%;
    height: 40px;
    border-radius: 100px;
    background-color:rgb(129, 125, 111);
    border: 1px solid white;
    padding: 5px;
}
button#submit{
    background: white;
    color:black;
    width: 5%;
    height: 40px;
    border-radius: 40px;
    background-color: rgb(255, 215, 69);
}

p.message{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 15px;
}